body {
    background-color: white;
}

#SignInDiv {
    height: 126vh;
    overflow-x: hidden;
    position: relative;
}

.leftContainer {
    width: 60%;
    height: 100vh;
    background-color: whitesmoke;
    float: left;
}

#BackToHome {
    position: absolute;
    text-decoration: none;
    font-size: 2rem;
    color: #53503F;
    left: 2.5%;
    top: 0.5%;
}

#BackToHome:hover {
    color: #0A0908;
    cursor: pointer;
}

#loginText {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding-top: 20%;
    font-size: 3.5rem;
}

#loginUsingSocial {
    font-size: 1rem;
    text-align: center;
}

#socialIcons {
    display: flex;
    justify-content: center;
}

.fa {
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
    color: #53503F;
}

.fa-facebook {
    margin-left: 3%;
}

.fa-google:hover {
    color: red;
}

.fa-facebook:hover {
    color: blue;
    margin-left: 3%;
}

#usernameID {
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    display: block;
    margin-top: 1%;
}

#usernameInput {
    margin-left: auto;
    border: solid 3px #171717;
    width: 40%;
    padding: 1% 1% 1% 1%;
    background-color: #96E0FC;
    font-size: 1.5rem;
    border-radius: 1.4rem;
    margin-bottom: 1rem;
    color: #171717;
}

::placeholder {
    opacity: 1;
    color: #171717;
}

#passwordID {
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    position: relative;
}

#passwordInput {
    margin-left: auto;
    border: solid 3px #171717;
    width: 40%;
    padding: 1% 1% 1% 1%;
    background-color: #96E0FC;
    font-size: 1.5rem;
    border-radius: 1.4rem;
    color: #171717;
}

.toggleButton {
    position: absolute;
    z-index: 10;
    left: 64.5%;
    margin-left: auto;
    margin-top: 10px;
    width: 4rem;
    padding: 0.5% 0.5% 0.5% 0.5%;
    border: none;
    background-color: #171717;
    color: whitesmoke;
    font-size: 1.3rem;
    border-radius: 1rem;
    transition: 0.2s;
}

.toggleButton:hover {
    background-color: #0A0908;
    color: #1295A6;
    cursor: pointer;
}

#submitButton {
    text-align: center;
    width: 20%;
    margin-left: 40%;
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    border-radius: 1rem;
    background-color: #0A0908;
    color: white;
    font-size: 2rem;
    transition: 0.3s;
}

#submitButton:hover {
    border: solid 1px black;
    background-color: whitesmoke;
    color: #171717;
    cursor: pointer;
}

#adminButton {
    position: absolute;
    top: 71%;
    left: 46%;
    text-align: center;
    text-decoration: none;
    width: 12%;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    border: none;
    border-radius: 1rem;
    background-color: #1295A6;
    color: white;
    font-size: 2rem;
    transition: 0.3s;
}

#adminButton:hover {
    background-color: #171717;
    color: #94BCCD;
    cursor: pointer;
}

.rightContainer {
    width: 40%;
    margin-left: 60%;
    background-color: #0A0A0A;
    height: 90vh;
    border-left: solid 3px #171717;
}

#newHere {
    font-size: 3rem;
    text-align: center;
    color: #FFFAFF;
    margin-top: 1%;
}

#SignUpText {
    font-size: 2rem;
    text-align: center;
    color: #FFFAFF;
    margin-top: 3%;
    padding-left: 20%;
    padding-right: 20%;
}

.offers {
    font-size: 1.5rem;
    text-align: center;
    color: #FFFAFF;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#Logo {
    width: 40%;
    margin-left: 30%;
    margin-top: 10%;
}

#signUpButton {
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    border-radius: 1rem;
    background-color: green;
    color: white;
    font-size: 2rem;
    transition: 0.3s;
}

#signUpButton:hover {
    background-color: whitesmoke;
    color: #171717;
    cursor: pointer;
}